#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c82c9;
}
#ext_menu-3 .mbr-brand__name a {
  font-size: 25px;
}
#header4-7 H1 {
  text-align: center;
}
#msg-box3-10 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-10 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#content4-18 P {
  color: #777777;
}
#footer1-16 P {
  text-align: center;
}
